{{define "resultat"}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset= "utf-8"/>
		<title>Resultat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/Hangman.css">
	</head>
	<body>
        <header>
            <img class="imglogo" src="/static/image/unnamed.webp"alt="logo pendue"/>
            <div>
                <hr class="separationverti1" />
            </div>
            <div class="headertext">
                <h1 class="title">Jeu Pendue</h1>
                <h2 class="spe">by DANTE Julien &amp; DERIU Vito</h2>
            </div>
        </header>
        <main>
            {{if .Win}}
            <p>Bravo tu as gagné, le mot était bien {{.Word.Answer}}</p>
            {{else}}
            <p>Malheureusement tu as perdu, le mot était {{.Word.Answer}}</p>
            {{end}}
        </main>
	    <footer>
	    </footer>
	</body>
</html>
{{end}}