{{define "resultat"}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset= "utf-8"/>
		<title>Resultat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/resultat.css">
	</head>
	<body>
    <header>
        <div class="headertext">
            <h1 class="credit">by Julien Dante &amp; Vito Deriu</h1>
        </div>
    </header>
        <main>
            {{if .Win}}
                {{if eq .Difficulty 1}}
                <p>Bravo {{.Pseudo}} c'était plutot simple.. le mot était bien {{.Word.Answer}}</p>
                <p class="AffichageScore">ton score est de : <strong>{{.ScoreG}}</strong></p>
                {{else if eq .Difficulty 2}}
                <p>Bravo tu as gagné bg ! Le mot était bien {{.Word.Answer}}</p>
                <p class="AffichageScore">ton score est de : <strong>{{.ScoreG}}</strong></p>
                {{else}}
                <p>C'est qui notre champion ?? C'est {{.Pseudo}} !!!! <br> C'était pas facile mais comme t'es trop fort le mot était bien {{.Word.Answer}}</p>
                <p class="AffichageScore">ton score est de : <strong>{{.ScoreG}}</strong></p>
                {{end}}
                
                <p>Tu peux continuer et exploser ton record en recommencant une partie !</p>
                <a href="niveau"><button class="recommencer"><img src="/static/image/Recommencer.png" alt="recommencer"></button></a>   
            {{else}}
                <p>Malheureusement tu as perdu sale noob, le mot était {{.Word.Answer}}</p>
                <p class="AffichageScore">tu as quand meme atteinds un score de <strong>{{.ScoreG}}</strong> !! Bien joué !</p>
                <img class="hangman" src="/static/image/tarot12.jpg" alt="pendue" />
            {{end}}
        </main>
	    <footer>
	    </footer>
	</body>
</html>
{{end}}