@font-face {
    font-family: "OldLondon";
    src: url(/static/fonts/OldLondon.ttf) format("truetype");
}

@font-face {
    font-family: "EnchantedLand";
    src: url(/static/fonts/EnchantedLand.otf) format("opentype");
}

@font-face{
    font-family: "CloisterBlack";
    src: url(/static/fonts/CloisterBlack.ttf) format("truetype");
}

@font-face {
    font-family: "EnchantedLand";
    src: url(/static/fonts/EnchantedLand.otf) format("opentype");
}

html{
    background-image: url(/static/image/BackgroundPaper1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body{
    background-image: url(/assets/image/vecteezy_divider-in-medieval-style-for-ui-design-classic-bar-and_31380025.png);
    background-position: above;
}

header{
    background-image: url(/static/image/BanniereTarotPendu.png);
    background-size: 455px;
    background-position: top center;
    background-repeat: no-repeat;
    height: 120px;
    font-family: "OldLondon";
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.credit{
    font-size: 1.4em;
}

main{
    font-family: "EnchantedLand";
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgcarte{
    height: 60vh;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bouton{
    background: none;
    border: none;

}

.container{
    display: flex;
    justify-content: space-around;
    width: 70vw;
}

.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

.bouton :hover{
    scale: 1.05;
}

.form :focus{
    border-radius: 8px; 
}


.input{
    background: none;
    border: none;
    border-bottom: solid 1px ;
    font-size: 30px;
    font-family: "EnchantedLand";
}
