@font-face {
    font-family: "OldLondon";
    src: url(/static/fonts/OldLondon.ttf) format("truetype");
}

@font-face {
    font-family: "EnchantedLand";
    src: url(/static/fonts/EnchantedLand.otf) format("opentype");
}

html{
    overflow-y: hidden;
    overflow-x: hidden;
}

body{
    background-image: url(/static/image/BackgroundPaper1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header{
    background-image: url(/static/image/BanniereTarotPendu.png);
    background-size: 455px;
    background-position: top center;
    background-repeat: no-repeat;
    height: 120px;
    font-family: "OldLondon";
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.credit{
    font-size: 1.8em;
    font-family: "EnchantedLand";
    font-weight: lighter;
}

main{
    font-family: "EnchantedLand";
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgcarte{
    height: 60vh;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 70vw;
}

.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;

}

.form :focus{
    border-radius: 8px; 
}

.input{
    background: none;
    border: none;
    border-bottom: solid 1px ;
    font-size: 30px;
    font-family: "EnchantedLand";
}

.bouton{
    background: none;
    border: none;
}

.bouton :hover{
    scale: 1.05;
}