@font-face {
    font-family: "OldLondon";
    src: url(/static/fonts/OldLondon.ttf) format("truetype");
}

@font-face {
    font-family: "EnchantedLand";
    src: url(/static/fonts/EnchantedLand.otf) format("opentype");
}

/* html{
    overflow-y: hidden;
    overflow-x: hidden;
} */

body{
    background-image: url(/static/image/BackgroundPaper1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header{
    background-image: url(/static/image/BanniereTarotPendu.png);
    background-size: 455px;
    background-position: top center;
    background-repeat: no-repeat;
    height: 120px;
    font-family: "OldLondon";
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.credit{
    font-size: 1em;
}

main{
    font-family: "EnchantedLand";
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgcarte{
    width: 250px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outscore{
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.test{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bouton{
    background: none;
    border: none;
<<<<<<< HEAD
=======
    
}

.mess{
    font-size: 30px;
}

.rouge{
    color: red;
}

.vert{
    color: green;
>>>>>>> 1b9fc3357d6cd4c11a0e0c467a80f0ce69dbccc6
}