@font-face {
    font-family: "OldLondon";
    src: url(/static/fonts/OldLondon.ttf) format("truetype");
}

@font-face{
    font-family: "CloisterBlack";
    src: url(/static/fonts/CloisterBlack.ttf) format("truetype");
}

html{
    background-image: url(/static/image/BackgroundPaper1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    background-image: url(/static/image/BanniereTarotPendu.png);
    background-size: 455px;
    background-position: top center;
    background-repeat: no-repeat;
    height: 120px;
    font-family: "OldLondon";
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.credit{
    font-size: 1em;
}

main{
    font-family: "OldLondon";
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    
}

.imgcarte{
    width: 250px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

